<article class="profile">
    <h1>PROFILE</h1>

    <form [formGroup]="profileForm">

        <app-input formControlName="name" type="text" title="Name" valid="{{name.valid}}"></app-input>

        <app-input formControlName="surname" type="text" title="Surname" valid="{{surname.valid}}"></app-input>

        <app-input formControlName="username" type="text" title="Username" valid="{{username.valid}}"></app-input>

        <app-input formControlName="email" type="text" title="Email" valid="{{email.valid}}"></app-input>

        <!-- <app-input formControlName="password" type="password" title="Password" valid="{{password.valid}}"></app-input> -->


    </form>
</article>