<article class="article">

    <section class="author_date">
        <article class="author">
            <img src="{{article.writer?.photo}}" alt="">
            <span>{{article.writer?.name}} {{article.writer?.surname}}</span>
        </article>
        <article class="date">
            <span>{{article.date}} | {{article.time}}</span>
        </article>
    </section>

    <section class="titles">
        <h1>{{article.title}}</h1>
        <h2>{{article.subtitle}}</h2>
    </section>

    <section class="content" [innerHTML]="article.content">
    </section>


    <section class="write_comment">
        <form [formGroup]="commentForm">
            <h4>Tell us what you think!</h4>
            <app-text-area formControlName="comment"></app-text-area>
            <app-button (click)="createComment($event)" text="Comment"></app-button>
        </form>
    </section>

    <section class="comments">
        @for (comment of comments; track $index) {
        <app-comment-card [comment]="comment"></app-comment-card>
        }
    </section>

</article>