@if (!isAuthenticated) {

<nav>
    <a routerLink="news" routerLinkActive="active">NEWS</a>
    <a routerLink="login" routerLinkActive="active">LOGIN</a>
    <a routerLink="register" routerLinkActive="active">REGISTER</a>
</nav>

}@else {

<nav>
    <a routerLink="news" routerLinkActive="active">NEWS</a>
    <a routerLink="profile" routerLinkActive="active">PROFILE</a>
    <a (click)="logout()" routerLinkActive="active">LOGOUT</a>
</nav>

}

@if (isAdmin == true) {

<article class="admin_nav">
    <h2>ADMIN NAVBAR</h2>
    <section>
        <h3>LIST</h3>
        <article class="links">
            <a routerLink="admin/list/users" routerLinkActive="active">USERS</a>
            <a routerLink="admin/list/comments" routerLinkActive="active">COMMENTS</a>
            <a routerLink="admin/list/articles" routerLinkActive="active">ARTICLES</a>
        </article>
    </section>

    <section>
        <h3>CREATE</h3>
        <article class="links">
            <a routerLink="admin/create/users" routerLinkActive="active">USER</a>
            <a routerLink="admin/create/comments" routerLinkActive="active">COMMENT</a>
            <a routerLink="admin/create/articles" routerLinkActive="active">ARTICLE</a>
        </article>
    </section>

</article>

}



@if (isWriter == true) {

<article class="admin_nav">
    <h2>WRITER NAVBAR</h2>
    <section>
        <h3>LIST</h3>
        <article class="links">
            <a routerLink="writer/list/articles" routerLinkActive="active">ARTICLES</a>
        </article>
    </section>

    <section>
        <h3>CREATE</h3>
        <article class="links">
            <a routerLink="writer/create/articles" routerLinkActive="active">ARTICLE</a>
        </article>
    </section>

</article>

}