<nav>
    <a (click)="isAdmin=false;isWriter=false" routerLink="news" routerLinkActive="active">NEWS</a>
    <a (click)="isAdmin=false;isWriter=false" routerLink="login" routerLinkActive="active">LOGIN</a>
    <a (click)="isAdmin=false;isWriter=false" routerLink="register" routerLinkActive="active">REGISTER</a>
    <a (click)="isAdmin=true;isWriter=false" routerLink="admin" routerLinkActive="active">ADMIN</a>
    <a (click)="isAdmin=false;isWriter=true" routerLink="writer" routerLinkActive="active">WRITER</a>
</nav>

@if (isAdmin == true) {

<article class="admin_nav">
    <h2>ADMIN NAVBAR</h2>
    <section>
        <h3>LIST</h3>
        <article class="links">
            <a routerLink="admin/list/users" routerLinkActive="active">USERS</a>
            <a routerLink="admin/list/comments" routerLinkActive="active">COMMENTS</a>
            <a routerLink="admin/list/articles" routerLinkActive="active">ARTICLES</a>
        </article>
    </section>

    <section>
        <h3>CREATE</h3>
        <article class="links">
            <a routerLink="admin/create/users" routerLinkActive="active">USER</a>
            <a routerLink="admin/create/comments" routerLinkActive="active">COMMENT</a>
            <a routerLink="admin/create/articles" routerLinkActive="active">ARTICLE</a>
        </article>
    </section>

</article>

}



@if (isWriter == true) {

<article class="admin_nav">
    <h2>WRITER NAVBAR</h2>
    <section>
        <h3>LIST</h3>
        <article class="links">
            <a routerLink="writer/list/articles" routerLinkActive="active">ARTICLES</a>
        </article>
    </section>

    <section>
        <h3>CREATE</h3>
        <article class="links">
            <a routerLink="writer/create/articles" routerLinkActive="active">ARTICLE</a>
        </article>
    </section>

</article>

}